<div class="card bg-dark">
    <div class="card-header">
        {{task.id}}
    </div>
    <div class="card-body">
        {{task.name}}<br>
        Criada em: {{task.createdDateTime}}<br>
        Iniciada em: {{task.startedDateTime}}<br>
        Finalizada em: {{task.closedDateTime}}
    </div>
    <div class="card-footer text-end">
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="evolue(task.id)">
            Avançar<i class="fa fa-arrow-circle-right" style="margin-left: 5px;"></i>
        </button>
    </div>
</div>