<div *ngIf="resource" class="row">
    <div class="col-sm-4">
        <h4>A fazer</h4>
        <hr>
        <div *ngFor="let task of resource.openTasks" >
            <app-card [task]="task" (emmiter)="recarregar($event)"></app-card>
        </div>
    </div>
    <div class="col-sm-4">
        <h4>Em andamento</h4>
        <hr>
        <div *ngFor="let task of resource.progressTasks" >
            <app-card [task]="task" (emmiter)="recarregar($event)"></app-card>
        </div>
    </div>
    <div class="col-sm-4">
        <h4>Finalizado</h4>
        <hr>
        <div *ngFor="let task of resource.closedTasks" >
            <app-card [task]="task" (emmiter)="recarregar($event)"></app-card>
        </div>
    </div>
</div>