<div *ngIf="resource">
    <div class="row">
        <div *ngFor="let task of resource.tasks" class="col-sm-3">
            <div class="mg-card mg-default">
                <span class="mg-4"><i class="fa fa-ticket"></i> {{task.name}}</span>
                <div> Status: - {{task.status}}</div>
            </div>
        </div>
        <!-- <div class="col-sm-3">
            <div class="mg-card mg-warning">
                <span class="mg-4"><i class="fa fa-newspaper-o"></i> Notícias</span>
                <div> 12/09/2024 - Venda Clube</div>
                <div> 12/09/2024 - Compra Silva</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="mg-card mg-danger">
                <span class="mg-4"><i class="fa fa-newspaper-o"></i> Notícias</span>
                <div> 12/09/2024 - Venda Clube</div>
                <div> 12/09/2024 - Compra Silva</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="mg-card mg-success">
                <span><i class="fa fa-ticket"></i> Complete Tasks</span>
                <div> 12/09/2024 - Venda</div>
                <div> 12/09/2024 - Compra</div>
            </div>
        </div> -->
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <h2>Dados</h2>
            <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
            
        </div>
    
    </div>
</div>
