<div *ngIf="resource">
    <i>Bem vindo: {{resource.username}}</i>
    <div class="row">
        <div class="col-sm-4">
            <div class="card mg-default">
                <div class="card-body">
                    <span class="mg-4"><i class="fa fa-calendar"></i> Proximas partidas</span>
                    <div>12/09/2024</div>
                    <div>18/09/2024</div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mg-default">
                <div class="card-body">
                    <span class="mg-4"><i class="fa fa-star"></i> Destaques em partidas</span>
                    <div><i class="fa fa-user"></i> Thiago Pereira</div>
                    <div><i class="fa fa-user"></i> Bruno Costa</div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mg-default">
                <div class="card-body">
                    <span class="mg-4"><i class="fa fa-newspaper-o"></i> Notícias</span>
                    <div> 12/09/2024 - Venda Outro Sport Clube</div>
                    <div> 12/09/2024 - Compra Novato Silva</div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <h2>Dados</h2>
            <p>Dados das ultimas transações:</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Player</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <!-- <tr *ngFor="let t of resource.transactions"> -->
                        <td>12/09/2024</td>
                        <td>compra</td>
                        <td>R$ 10.000,00</td>
                        <td> Bruno Costa</td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    </div>
</div>
