<div class="row">
    <div class="col-sm-12 text-start" >
        <h2>Bem vindo</h2>
        <p>Kanban é uma metodologia visual de gerenciamento de trabalho que organiza tarefas em um quadro com colunas como "a fazer", "em andamento" e "concluído". Foca na limitação de trabalho em progresso, gerenciamento do fluxo e melhoria contínua para aumentar a eficiência e evitar sobrecargas.</p>
        <p>Clique em "Criar atividade" para começar e leve sua produtividade para o próximo nível!</p>
    </div>
</div>