
<div *ngIf="resource">
    <h3><i class="fa fa-shield"></i> {{resource.teamname}}</h3>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <h4>Titulares</h4>
            <hr>
            <div *ngFor="let p of resource.players">
                <div class="player"> <i class="fa fa-user"></i> {{p.name}} ({{p.position}})</div>
            </div>
        </div>
        <div class="col-sm-4">
            <h4>Reservas</h4>
            <hr>
            <div class="player"><i class="fa fa-user"></i> Daniel Cardoso</div>
            <div class="player"><i class="fa fa-user"></i> Gustavo Santos</div>
            <div class="player"><i class="fa fa-user"></i> Matheus Araújo</div>
            <div class="player"><i class="fa fa-user"></i> Henrique Teixeira</div>
            <div class="player"><i class="fa fa-user"></i> Eduardo Mendes</div>
            <div class="player"><i class="fa fa-user"></i> Victor Fernandes</div>
            <div class="player"><i class="fa fa-user"></i> Rodrigo Ribeiro</div>
            <div class="player"><i class="fa fa-user"></i> Alexandre Farias</div>
            <div class="player"><i class="fa fa-user"></i> Ricardo Nunes</div>
            <div class="player"><i class="fa fa-user"></i> Marcelo Batista</div>
            <div class="player"><i class="fa fa-user"></i> Carlos Moura</div>
        </div>
        
    </div>
</div>
