<nav class="navbar navbar-expand-sm mg-default navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <i class="fa fa-desktop" style="font-size:24px"></i>
            Manager
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
       
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="app/home"><i class="fa fa-home"></i> Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="app/task-create"><i class="fa fa-ticket"></i> Cria task</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-info-circle"></i> About</a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                        <i class="fa fa-user-circle"></i> jucausuario
                    </a>
                    <div class="dropdown-menu" data-toggle="collapse" data-target=".navbar-collapse.show">
                        <a class="nav-link" href="" target="">
                            <i class=""></i> item
                        </a>
                    </div>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" (click)="signOut()"><i class="fa fa-sign-out"></i> Sair</a>
                </li>
            </ul>
        </div>

    </div>

    <!-- menu pessoal do recurso  -->
    
</nav>
<div class="mg-line-default"></div>