:root {
    --primary-default: #10598a;
    --secondary-default: #2d79ac;
    --primary-success: #6d965d;
    --secondary-success: #96ce80;
    --primary-warning: #e1e430;
    --secondary-warning: #dfe0a4;
    --primary-danger: #e43030;
    --secondary-danger: #e0a4a4;
  }


h1, h2, h3, h4, h5, h6 {
    color: var(--primary-default);
}

.mg-4{
    font-size: 20px;
}

.player {
    border-style: solid;
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
    color: var(--primary-color);
}

.mg-default, .mg-bt-default{
    background-color: var(--primary-default);
    color: white;
}

.mg-bt-default:hover{
    background-color: var(--secondary-default);
    color: white;
}